@media (min-width: 992px) {
    .modal-lg {
        width: 900px !important;
    }
}

.upsells-popup.modal .wc-checkout-btns {
    margin-top: 10px;
}

.upsells-popup.modal .modal-title {
    font-size: 22px;
    font-weight: 600;
}

.modal-body .upsell-popup-content {
    font-size: 20px;
}
